/******************** SIDEBAR STYLES ********************/
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.sidebar {
  height:100%;
  /*border-right: 2px #5f9cd2 solid;*/
}

.collection {
  border: none;
}

.collection-item {
  margin-top: 8px !important;
}

.collection-item:hover {
  background-color: #5f9cd2 !important;
  color: white !important;
}

.collection-item > span {
  padding: 0px !important;
  margin-bottom: 15px;
  color: white;
  background-color: #5f9cd2;
  border-radius: 50px;
}