body {
  background-color: #F0F0F0;
  background-size: cover;
  background-attachment: fixed;
}

/******************** SIDEBAR STYLES ********************/
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.sidebar {
  height:100%;
  /*border-right: 2px #5f9cd2 solid;*/
}

.collection {
  border: none;
}

.collection-item {
  margin-top: 8px !important;
}

.collection-item:hover {
  background-color: #5f9cd2 !important;
  color: white !important;
}

.collection-item > span {
  padding: 0px !important;
  margin-bottom: 15px;
  color: white;
  background-color: #5f9cd2;
  border-radius: 50px;
}

/******************** TAG STYLES ********************/
.tag-container {
  padding: 10px;
  overflow: scroll;
}

.side-nav {
  z-index: 0;
}

.tag {
  margin: 3px;
  border-radius: 10px;
  width: 130px;
  background-color: #5f9cd2;
}

.tag > span {
  color: white;
  font-size: 14pt;
  /*text-decoration: underline;*/
}

.tag > span:hover {
  color: grey;
  font-style: italic;
}


/******************** CARD STYLES ********************/
.custom-card {
  background-color: #FFFFFF;
  border-color: #f48f7f;
  border-radius: 10px;
  height: 250px;
  /*-webkit-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
  /*-moz-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
  /*box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
}

.custom-card:hover {
  /*background-color: #ffa726;*/
  -webkit-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
  -moz-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
  box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
}


.card-header {
  margin: 10px 10px 0px 10px;
  padding: 5px 5px 0px 5px;
}

.title {
  font-size: 14pt !important;
}

.card-icon {
  float: right;
  width: 32px;
  height: 32px;
}

.card-preview {
  margin: 0px 10px 0px 10px;
  height: 140px;
}

.card-footer {
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.card-url {
  color: #5f9cd2;
}

.card-tag > span {
  /*background-color: grey;*/
  color: #4d7421;
}

.small-icon {
  font-size: 20px;
  float: right;
}

.card-snippet {
  font-style: italic;
  /*border-top: 1px black solid;*/
}

.block-span {
  display: block;
  padding: 5px;
}