body {
  background-color: #F0F0F0;
  background-size: cover;
  background-attachment: fixed;
}

/******************** LOGIN-PAGE STYLES ********************/

.login-bg {
  background-color: #5f9cd2;
}

.login-box {
  background-color: white;
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  /*padding-top: 30px;
  padding-bottom: 30px;*/
  text-align: center;
  -webkit-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
}

.login-buttons {
  width: 100%;
  margin-top: 5px;
}

#app {
  position: absolute;
  height:100%;
  width:100%;
}

/******************** SIDEBAR STYLES ********************/
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.sidebar {
  height:100%;
  /*border-right: 2px #5f9cd2 solid;*/
}

.collection {
  border: none;
}

.collection-item {
  margin-top: 8px !important;
}

.collection-item:hover {
  background-color: #5f9cd2 !important;
  color: white !important;
}

.collection-item > span {
  padding: 0px !important;
  margin-bottom: 15px;
  color: white;
  background-color: #5f9cd2;
  border-radius: 50px;
}

/******************** TAG STYLES ********************/
.tag-container {
  padding: 10px;
  overflow: scroll;
}

.side-nav {
  z-index: 0;
}

.tag {
  margin: 3px;
  border-radius: 10px;
  width: 130px;
  background-color: #5f9cd2;
}

.tag > span {
  color: white;
  font-size: 14pt;
  /*text-decoration: underline;*/
}

.tag > span:hover {
  color: grey;
  font-style: italic;
}


/******************** CARD STYLES ********************/
.custom-card {
  background-color: #FFFFFF;
  border-color: #f48f7f;
  border-radius: 10px;
  height: 250px;
  /*-webkit-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
  /*-moz-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
  /*box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);*/
}

.custom-card:hover {
  /*background-color: #ffa726;*/
  -webkit-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
  -moz-box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
  box-shadow: 8px 14px 18px -4px rgba(0,0,0,1);
}


.card-header {
  margin: 10px 10px 0px 10px;
  padding: 5px 5px 0px 5px;
}

.title {
  font-size: 14pt !important;
}

.card-icon {
  float: right;
  width: 32px;
  height: 32px;
}

.card-preview {
  margin: 0px 10px 0px 10px;
  height: 140px;
}

.card-footer {
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.card-url {
  color: #5f9cd2;
}

.card-tag > span {
  /*background-color: grey;*/
  color: #4d7421;
}

.small-icon {
  font-size: 20px;
  float: right;
}

.card-snippet {
  font-style: italic;
  /*border-top: 1px black solid;*/
}

.block-span {
  display: block;
  padding: 5px;
}

.card-tag {
  /*color: #5f9cd2;*/
  text-align: center;
  overflow: hidden;
  font-size: 10pt;
}

/******************** MODAL STYLES ********************/
.open-modal {
  margin-right: 10px;
}

.modal-select {
  display: inline;
}

.notication {
  font-weight: bolder;
  color: white;
  background-color: rgba(41,182,246,0.8);
}

.modal-notes {
  /*padding: 10px;*/
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.notes {
  height: 175px;
  resize: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
  -moz-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
  box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
}

.modal-heading {
  margin-left: 10px;
}

.modal-span {
  margin-left: 15px;
  font-style: italic;
}

.modal-icon {
  float: left;
  margin: 10px;
}

.close-modal {
  margin-top: 5px;
  float: right;
  font-weight: bold;
  font-size: 16pt;
}

.close-modal:hover {
  font-size: 20pt;
}

.modal-nav {
  margin-bottom: 0px;
}

.modal-nav-buttons {
  text-align: right;
}

.modal-nav-buttons > input {
  width: 50%;
  /*background-color: purple;*/
  margin-right: 5px;
}

hr {
  width: 50%;
}

.modal-footer {
  /*border-top: 1px solid grey;*/
  margin-top: 0px;
  text-align: center;
}

.modal-footer > button {
  margin: 10px;
  background-color: #c62828;
}

.tag-input {
  width: 30%;
}

.modal-link {
  font-size: 12pt;
  margin-top: 20px;
}

.save-bar {
  margin-top: 25px;
}

.delete-button {
  margin-right: 3px;
  float: left;
  background-color: #c62828;
  z-index: 0;
}

.save-button {
  float: left;
  width: 50%;
  z-index: 0;
}

.modal-link:hover {
  /*color: #3883c6;
  font-weight: bold;*/
}

.tags-div {
  margin-bottom: 20px;
  /*padding: 10px;*/
}

.modal-tag {
  background-color: #5F9CD2;
  color: white;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  display: inline-block;
}

.tag-name::after {
  content: '';
  border-left: 1px solid white;
  margin-left: 3px;
  padding-left: 2px;
}

.tag-delete {
  font-size: 14pt;
  font-weight: bold;
  margin-left: 3px;
}

.tag-delete:hover {
  color: grey;
}

.modal-tag:hover {
  background-color: #3883c6;
  color: white;
  -webkit-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px -12px rgba(0,0,0,0.75);
}

.modal-editor > div {
  z-index: 0;
}

.add-tag {
  margin-left: 10px;
}

.add-tag-button {
  float: right;
  z-index: 0;
}

.share-button {
  z-index: 0;
  margin-bottom: 15px;
}
