.topbar {
  position: relative;
  height: 50px;
  background-color: #5f9cd2;
}

.darkened {
  background-color: #3276b2; 
}

.dotbind-icon {
  margin-left: 10px;
  margin-top: 2px;
}

.dotbind-logo {
  position: absolute;
  bottom: 5px;
  font-size: 28px;
  height: 50px;
  margin-left: 5px;
  font-family: "Raleway", sans-serif;
}

.dotbind-login-logo {
  color: white;
  margin-left: 15px;
  font-size: 56px;
  font-family: "Raleway", sans-serif;
}

.topnav {
  float: right;
}

form.search {
  position: absolute;
  bottom: 21px;
  left: 200px;
  height: 36px;
  width: 500px;
}

.search-tags {
  position: absolute;
  top: 7px;
  left: 200px;
  height: 36px;
  width: 510px;
  /*padding-left: 10px;*/
  background-color: white !important;
  border-radius: 20px !important;
}

.search-tag {
  position: relative;
  bottom: 14px;
  height: 30px !important;
  margin-left: 3px;
}

.search-input {
  height: 50px;
  margin: 0;
  background-color: white !important;
  border-radius: 20px !important;
}

.search input {
  height: 36px;
  padding-left: 10px;
  font-family: Arial, 'FontAwesome';
  color: #5f9cd2;
  margin: 0px;
  z-index: 1 !important;
}


form {
  margin-top: 0px !important;
}

li {
  height: 50px;
}

li > a {
  height: 50px;
}

.small-icon {
  /*position: absolute;*/
  height: 50px !important;
  font-size: 25px !important;
  vertical-align: bottom !important;
}
