body {
  width:400px;
  Height:800px;

}

.foreground:before {
    position: absolute;
    content: '';
    background: rgba(0,0,0, 0.5); /*partially transparent image*/
    width: 400px;
    height: 600px;
    pointer-events: none;
}