body {
  background-color: #F0F0F0;
  width:400px;
  height:500px;
}

.icon {
  float: right;
  margin: 10px;
  width: 32px;
  height: 32px;
}

.custom-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #26a69a;
}

.snippet {
  margin: 5px;
  font-size: 12pt;
}

.card, .card-content {
  margin-top: 20px;
  border-radius: 10px !important;
}

.card-footer {
  text-align: center;
  color: #5f9cd2;
}

span#title.card-title {
  line-height: 26px;
}

.note {
  font-size: 12pt;
  height: 100px;
  resize: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
  -moz-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
  box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.51);
}

.foreground:before {
    position: absolute;
    content: '';
    background: rgba(0,0,0, 0.5); /*partially transparent image*/
    width: 400px;
    height: 600px;
    pointer-events: none;
}