{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {  //environment defines global variables
      "browser": true,
      "node": true,
    },
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    }

}
